@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

html {
    background-color: #00008B;
}

.max-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 550px;
}

.title-card {
    text-align: center;
    font-size: 1.2em;
    color: rgb(51, 51, 51);
    font-weight: bold;
    fill: rgb(51, 51, 51);
}
